
* {
    margin: 0;
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
    float: left;
    padding: 2px;
}

html {
    font-family: "Lucida Sans", sans-serif;
}



.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


.grafica ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.grafica li{
    text-align: center;
    padding: 0px;
    margin-bottom: 0px;
    height: auto;
    color: white;
    width: auto;
    font-size: 9px;
}
.menu li:hover {
    background-color: #0099cc;
}

.aside {
    background-color: #33b5e5;
    padding: 15px;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.footer {
    background-color: #0099cc;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 15px;
}

/* For desktop: */
.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}


@media only screen and (max-width: 767px) {
    /* For celphones: */
    [class*="col-"] {
        width: 100%;
    }
    .col-1{
        width: 15%;
    }
    .col-3{
        width: 85%;
    }
    .header {
        padding: 0px;
        width: 100%;
        height: 20vh;
      }
      .header img {
        width: 100%;
        height: 100%;
      }
      .header .bannerPeq {
        display: block;
      }
    
      .header .bannerGran,
      .header .bannerMed {
        display: none;
      }
      .menu li {
        text-align: center;
        padding: 0px;
        margin-bottom: 3px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.24);
        height: auto;
        color: white;
        width: auto;
        font-size: 9px;
    }
      .dis {
        border-color: #5C5F68;
        margin-top: 0px;
        border-top: 3px solid #5C5F68;
        background-color: #ffffff;
        width: 40px;
      
    } 
    .grafica h6 {
        text-align: center;
        padding: 0px;
        margin-bottom: 0px;
        height: auto;
        color: white;
        width: auto;
        font-size: 9px;
      }
      .grafica .peppa {
        display: flex;
        justify-content: space-around;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.24);
      }
      [class*="col-"] {
        float: left;
        padding: 2px;
    }
    
  }
  @media only screen and (min-width: 1200px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    .dis {
        border-color: #5C5F68;
        margin-top: 0px;
        border-top: 3px solid #5C5F68;
        background-color: #ffffff;
        width: 80px;
        padding: 3px;
    } 
    .menu li {
        text-align: center;
        padding: 0px;
        margin-bottom: 3px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.24);
        height: auto;
        color: white;
        width: auto;
        font-size: 14px;
    }
    .grafica h6 {
        text-align: center;
        padding: 0px;
        margin-bottom: 0px;
        height: auto;
        color: white;
        width: auto;
        font-size: 9px;
      }
      .grafica .peppa {
        display: flex;
        justify-content: space-around;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.24);
      }
    .header {
        padding: 0px;
        width: 100%;
        height: 20vh;
      }
      .header img {
        width: 100%;
        height: 100%;
      }
      .header .bannerGran {
        display: block;
      }
    
      .header .bannerMed,
      .header .bannerPeq {
        display: none;
      } 
}  
@media only screen and (min-width: 768px) and (max-width: 1199px) {
    /* For tablet: */
[class*="col-"] {
    width: 100%;
}
.col-1{
    width: 8%;
}
.col-3{
    width: 42%;
}
.header {
    padding: 0px;
    width: 100%;
    height: 20vh;
  }
  .header img {
    width: 100%;
    height: 100%;
  }
  .header .bannerPeq {
    display: block;
  }

  .header .bannerGran,
  .header .bannerMed {
    display: none;
  }
  .menu li {
    text-align: center;
    padding: 0px;
    margin-bottom: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.24);
    height: auto;
    color: white;
    width: auto;
    font-size: 9px;
}
  .dis {
    border-color: #5C5F68;
    margin-top: 0px;
    border-top: 3px solid #5C5F68;
    background-color: #ffffff;
    width: 40px;
  
} 
.grafica h6 {
    text-align: center;
    padding: 0px;
    margin-bottom: 0px;
    height: auto;
    color: white;
    width: auto;
    font-size: 9px;
  }
  .grafica .peppa {
    display: flex;
    justify-content: space-around;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.24);
  }

}
#azul{
    background-color: #0e2ecf;
}

#verde{
    background-color: #0CBB21;
}
#azulclaro {
    background-color: #37A5D1; 
}
#rojo{
    background-color: #EA220E;
}
#rosado{
    background-color: #DD0EEA;
}

#lienzo2{
    border-color: #0099cc;
}