/* ESTILOS DEL MODULO DE GRAFICAS */

body {
    background-image:url('img/imagenes/fondo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

html {
    font-family: "Lucida Sans", sans-serif;
}

.header {
  
    padding: 5px;
    position: absolute;
    margin: 0;
    width: 1000px;
    
background-color: #3710e7;
width: auto;
    
}

#barra_botones {

margin: 0;
padding: 0;
height:400px;
width: 100px;
}

.graficaprueba {
    width: 100%;
    height: 100%;
}


.botonesBurbujas {
    top: 0%;
    width: 48%;
    margin-left: 66px;
    margin-top: 4px;
}

.menu {
    color: #3710e7;
   margin-top: 10%;
}


.aside {
    background-color: black;
    padding: 15px;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}


.fondo {
    position: absolute;
    width: 130%;
    z-index: -1;
    height: 100%;
    left: -30%;
    right: 0;
    bottom: 0;
    margin: auto;
}

/* For desktop: */
.col-1 {
    position: absolute;
    width: 230%;
    height: 82%;
    bottom: 0%;
    top: 13.8%;
    left: -54.3%;
}

.col-2 {
    height: 90%;
    width: 50%;
    margin-top: -117%;
    background-color: transparent;
    display: none;
    z-index: 3;
    position: absolute;
    margin-top: -3%;
}

.col-3 {
    width: 200%;
   position: relative;
}

.col-4 {
    width: 50%;
    display: none;
    z-index: 4;
    position: absolute;
    height: 80%;
}

.col-6 {
    width: 50%;
    
}

.gif {
    position: absolute;
    width: 31%;
    height: 96.7%;
    z-index: -1;
    top: 0.3%;
    left: 47.9%;
    bottom: 0;
    margin: auto;
}

#gif{display:inline-block;}

.variables{
    top:280px;
    left:170px;
    list-style-type: none;
    background-color:rgba(0,0, 0, 0.4);
    color: white;
    font-size: 17px;
    line-height: 150%;
}
 .burbuji{ 
    position: absolute;
    width: 6%;
    height: 3%;
    z-index: 2;
    top: 90%;
    right: 5px;
    bottom: 0;
    margin: auto;
    left: 0;
    visibility: hidden;
 }
 .botones_control{
     position:relative;
     top:0px;
 }

 .peppa {
    display: unset;
    justify-content: space-around;
    background-color: rgba(255,255,255,0.20);
  }

  .dibujo-canvas{
    background-color: rgba(255,255,255,0.20);
    width: 97%;
    margin-left: -9px;
  }

  .select1
  {
     width: 50%;
  }
  
  .cerrar
  {
    color: #ffffff;
    float: right;
    font-size: 20px;
    font-weight: bold;
    z-index: 6;
    cursor: pointer;
  }

  .botonescero
  {
      top: 0%;
  }


  .BotonGra {
    border-color: #5C5F68;
    margin-top: 0px;
    border-top: 3px solid #5C5F68;
    background-color: #ffffff;
    width: 40px;
  
} 

.selecD
{
    position: relative;
    top: -5%;
    color: #ffffff;
    left: -3%;
}

.inputGra
{
    width: 10%;
    height: 6%;
    margin-left: 5px;
    margin-top: 2px;
}

.selectGra
{
    width: 100%;
    height: 5%;
    border-color: black;
    float: left;
    margin-top: -1px;
    margin-left: -1px;
}

.ConfGra
{
    width: 60%;
    height: 5%;
    top: 0%;
}

.datosinput
{
    width: 40%;
}


 .savegrafb
{
    width: 80px;
    height: 80px;
    top: 4%;
    margin-left: 88px;
}


.datf1l1
{
    Font-size: 16px;
    position: fixed;
    max-width: 270px;
    min-width: 150px;
}

.datgraletr
{
    position: absolute;
    margin-left: 315px;
    Font-size: 17px;
    margin-top: 100px;
    background-color: rgba(255,255,255,0.20);
    visibility:hidden;
}


.lienzx
{
    margin-top: 3px;
}

.FechasGraf
{
    position: fixed;
    margin-top: 3px;
    margin-left: 3px;
    border-color: black;
    width: 100px;
}
