body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


/*//////////////////////////////////////////////////////////////////
[ login ]*/

.limiter {
    width: 100%;
    margin: 0 auto;
}

.usrcampo {
    position: absolute;
    left: -3px;
    top: -4px;
    width: 42px;
}

.contrasenacampo {
    position: absolute;
    left: -3px;
    top: -4px;
    width: 42px;
}

.logo {
    margin-bottom: 5%;
}

.card {
    border: 0px solid rgba(0, 0, 0, 0.125);
    border-radius: 31px;
    box-shadow: 0px 4px 11px #292929;
}

.btn {
    margin-top: 3%;
}

.container-login100 {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.container-login100::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}


/*------------------------------------------------------------------
[ Button ]*/

.container-login100-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}