
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the side navigation */
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
   color: white;
  overflow-x: hidden;
}


/* Side navigation links */
.sidenav a {
  color: white;
  padding: 16px;
  text-decoration: none;
  display: block;
}

/* Change color on hover */
.sidenav a:hover {
      
  color: red;
}

/* Style the content */
.content {
  margin-left: 200px;
  padding-left: 20px;
}



.inputform,select {
  width: auto;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.inputsubmit {
  width: 100%;
  background-color:rgba(250,0,0,0.9);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.inputsubmit:hover {
  background-color: rgba(250,0,0,1);
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}



div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

label{
color:rgba(250,0,0,0.9);

}

h2{

  color:rgba(250,0,0,0.9);


}
img {
   position: relative;
  top: 8px;
  left: 16px;
  border: 1px solid red;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
  margin-bottom: 50px;
}

.grid-container {
  display: grid;

  grid-template-columns: auto auto;
  background-color: rgba(255, 0, 0, 0.8);
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}


 